# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\piton\Python_lesson_4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
